In [3]:
import pandas as pd
dataset = pd.read_csv("general_data.csv")
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [5]:
dataset.Attrition = dataset.Attrition.replace('No',0)
dataset.Attrition = dataset.Attrition.replace('Yes',1)
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [8]:
from scipy.stats import pearsonr
stats,p = pearsonr(dataset.Attrition,dataset.Age)
print(stats,p)

-0.15920500686577965 1.996801615886744e-26

___Here the p value is less than 0.05 so it regects null hypothesis and accepts Alternative hypothesis and the r value is negative___

In [9]:
stats,p = pearsonr(dataset.Attrition,dataset.DistanceFromHome)
print(stats,p)

-0.009730141010179674 0.5182860428050771

___Here the p value is more than 0.05 so it accepts null hypothesis and regects Alternative hypothesis and the r value is negative___

In [10]:
stats,p = pearsonr(dataset.Attrition,dataset.Education)
print(stats,p)

-0.015111167710968713 0.3157293177118575

___Here the p value is more than 0.05 so it accepts null hypothesis and regects Alternative hypothesis and the r value is negative___

In [15]:
stats,p = pearsonr(dataset.Attrition,dataset.EmployeeID)
print(stats,p)

-0.004729122995066087 0.7535487401886252

___Here the p value is more than 0.05 so it accepts null hypothesis and regects Alternative hypothesis and the r value is negative___

In [16]:
stats,p = pearsonr(dataset.Attrition,dataset.PercentSalaryHike)
print(stats,p)

0.03253259489105349 0.030743386433355353

___Here the p value is less than 0.05 so it regects null hypothesis and accepts Alternative hypothesis and the r value is positive___

In [18]:
stats,p = pearsonr(dataset.Attrition,dataset.StockOptionLevel)
print(stats,p)

-0.006838852403261513 0.6498072937475723

___Here the p value is more than 0.05 so it accepts null hypothesis and regects Alternative hypothesis and the r value is negative___

In [20]:
stats,p = pearsonr(dataset.Attrition,dataset.TrainingTimesLastYear)
print(stats,p)

-0.049430576244255 0.0010247061915365072

___Here the p value is less than 0.05 so it regects null hypothesis and accepts Alternative hypothesis and the r value is negative___

In [21]:
stats,p = pearsonr(dataset.Attrition,dataset.YearsAtCompany)
print(stats,p)

-0.1343922139899772 3.1638831224877484e-19

___Here the p value is less than 0.05 so it regects null hypothesis and accepts Alternative hypothesis and the r value is negative___

In [22]:
stats,p = pearsonr(dataset.Attrition,dataset.YearsSinceLastPromotion)
print(stats,p)

-0.03301877514258434 0.028330336189396753

___Here the p value is less than 0.05 so it regects null hypothesis and accepts Alternative hypothesis and the r value is negative___

In [23]:
stats,p = pearsonr(dataset.Attrition,dataset.YearsWithCurrManager)
print(stats,p)

-0.15619931590162847 1.7339322652896276e-25

___Here the p value is less than 0.05 so it regects null hypothesis and accepts Alternative hypothesis and the r value is negative___