In [12]:
import pandas as pd
dt = pd.read_csv("general_data.csv")
dt.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
dt.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [3]:
dt.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [4]:
dt1 = dt.dropna()

In [5]:
dt1.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [6]:
from scipy.stats import mannwhitneyu
stats,p = mannwhitneyu(dt1.DistanceFromHome,dt1.Education)
print(stats,p)

5427417.0 2.1301388701646355e-278

___Here the p value is less than 0.05___\
___H0 -> Reject___\
___H1 -> Accept___\
___There is signigicance difference between DistanceFromHome and Education___

In [7]:
from scipy.stats import kruskal
stats1,p1 = kruskal(dt1.Education,dt1.NumCompaniesWorked,dt1.PercentSalaryHike)
print(stats1,p1)

9028.631819159766 0.0

___Here the p value is less than 0.05___\
___H0 -> Reject___\
___H1 -> Accept___\
___There is signigicance difference between Education, NumCompaniesWorked and PercentSalaryHike___

In [8]:
from scipy.stats import chi2_contingency
chitable = pd.crosstab(dt1.Attrition,dt1.Gender)
print(chitable)

Gender     Female  Male
Attrition
No           1488  2189
Yes           268   437

In [9]:
stats2,p2,dof,expected = chi2_contingency(chitable)
print(stats2,p2)

1.3825823839528295 0.23966176275638887

___Here the p value is More than 0.05___\
___H0 -> Accept___\
___H1 -> Regect___\
___Attrition doesn't depends on Gender___

In [10]:
from scipy.stats import ttest_1samp
stats3,p3 = ttest_1samp(dt1.Age,55)
print(stats3,p3)

-130.8871278815631 0.0

___Here the p value is less than 0.05___\
___H0 -> Reject___\
___H1 -> Accept___\
___There is signigicance difference between mean of Age and sample mean of 65___

In [11]:
from scipy.stats import ttest_ind
stats4,p4 = ttest_ind(dt1.Age,dt1.DistanceFromHome)
print(stats4,p4)

150.31028970443805 0.0

___Here the p value is less than 0.05___\
___H0 -> Reject___\
___H1 -> Accept___\
___There is signigicance difference between mean of Age and mean of DistanceFromHome___